<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <application>
        <activity
            android:name=".ui.AutoMixActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.AutoMix" />
    </application>
</manifest>